.tweet {
    width: 38rem;
    background: grey;
    position: relative;
    
    /* border: 1px solid grey;*/
  }
  
  .tweetMainHeader {
    background: green;
  }
  
  .tweetMainHeaderItem {
    display: inline-block;
  }

  .tweetMainMessage {
    background: purple;

    /* Later...
    overflow-wrap: break-word;*/
  }
  
  .tweetFooter {
    background: orange;
  }
  
  .tweetFooterStats {
    display: inline-block;
    width: 4rem;
  }

  .tweetFooterStatsItem {
    display: inline-block;
  }

  .tweetColumn {
    display: inline-block;
  }
  
  /*
  
  
  .tweetMainHeaderItemName {
    font-size: 15px;
    font-weight: bold;
  }
  
  .tweetMainHeaderItemHandle,
  .tweetMainHeaderItemDuration {
    font-weight: 200;
    color: lightgrey;
  }
  
  
  
  */
  
  .tweetIcon {
    width: 1rem;
    /* Add back in later...
    width: 1.5rem;
    vertical-align: middle;*/
  }
  
  .tweetMain {
    width: 25rem;
    background: red;
  }
  
  .tweetMenu {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  
  /*
  .tweetMenu:hover {
    cursor: pointer;
  }
  
  .tweetMenuIcon {
    width: 1rem;
  }
  */

  .avatar {
    width: 10rem;
    background: blue;
    vertical-align: top;
    /* Add back later.
    width: 6rem;
    vertical-align: top;
    text-align: center;*/
  }
  
  .avatarImage {
    width: 100%;
    /* Add back later.
    border-radius: 50%;
    width: 4rem;
    height: 4rem;*/
  }